<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHOOSE YOUR WORK</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="butPage">
    <div class="button-container">
        <form action="/run_index" method="post">
            <button type="submit" style="color: black;">Text Summary</button>
        </form>
        <form action="/gen_c" method="post">
            <button type="submit" style="color: black;">Assistance</button>
        </form>
        <form action="/run_co" method="post">
            <button type="submit" style="color: black;">Contract</button>
        </form>
    </div>
    
</body>
</html>